body {
    background-color: rgb(200,200,200);
}

h1 {
    text-align: center;
}

svg {
    display: block; /* svg elements are inline by default */
    border: 2px black solid;
    margin: 10px auto;
}

#root {
    width: 800px;
    margin: 20px auto;
    background-color: pink;
    padding: 20px 10px 100px 10px;
}

#dot-background {
    fill: white;
}

.dot {
    r: 10px;
    fill: rgb(50, 120, 255);
    stroke: black;
    stroke-width: 2;
    /* transition-property: cx, cy; */
    /* transition-duration: 10s; */
}

