:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

html {
    background-color: gray;
}

body {
    margin: auto;
    width: 600px;
    min-height: 100vh;
    background-color: brown;
}

h1 {
    text-align: center;
}

#grid {
    margin: auto;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    /* border: 5px solid white;
    background-color: aqua; */
}

.tile {
    border: 1px solid;
}